
.references {
  width: 100%;

  .references__wrapper {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 120px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;

    .references__wrapper__item {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: relative;

      span {
        justify-content: center;
        display: flex;
        align-items: center;
        align-content: center;
        height: 100%;
        cursor: default;
        color: $white;
        font-weight: 700;
        letter-spacing: 5px;
      }
    }
  }
}

